@(userForm: Form[model.User])(implicit messages: Messages)
@import helper._
@import play.i18n._

@implicitField = @{ helper.FieldConstructor(myFieldConstructorTemplate.f) }

@body(Messages.get("form.user.edit.title")) {
    @helper.form(routes.UserController.save()) {
        <fieldset>
            <legend>@Messages.get("menu.register")</legend>

            @helper.input(userForm("id")) { (id, name, value, args) =>
                <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args) />
            }

            @helper.inputText(userForm("name"),
                '_label -> Messages.get("form.user.name"),
                '_class -> "span4",
                'placeholder -> Messages.get("form.user.name"))

            @helper.inputText(userForm("role"),
                '_label -> Messages.get("form.user.role"),
                '_class -> "span4",
                'placeholder -> Messages.get("form.user.role"))

            <a class="btn btn-default" href="@routes.UserController.userList(1)" role="button">@Messages.get("menu.list")</a>
            <input type="submit" class="btn btn-primary" value='@Messages.get("form.save")' />
        </fieldset>
    }
}
