@(userForm: Form[model.User])(implicit messages: Messages)
@import helper._


@body("User view") {


    @helper.form(routes.UserController.save()) {
        @helper.input(userForm("id")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args) />
        }

        @helper.input(userForm("name")) { (id, name, value, args) =>
            <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) />
        }

        @helper.input(userForm("role")) { (id, name, value, args) =>
            <label for="@id">Role:</label>
            <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) />
        }

        <input type="submit" value="Save" />
    }
}