@(users:List[model.User], count:Int, page:Int, pageLength:Int)(implicit messages: Messages)
@import helper._
@import play.i18n._

<!--http://kev009.com/wp/2012/12/reusable-pagination-in-play-2/-->

@body(Messages.get("form.user.list.title")) {
    <div class="container-fluid">
        <div>
            <h2>@Messages.get("form.user.list.title")</h2>
            <a class="btn btn-default" href="@routes.UserController.newUser()" role="button">@Messages.get("menu.new")</a>
        </div>
        <!--<p>descricao...</p>-->
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>@Messages.get("form.id")</th>
                <th>@Messages.get("form.user.name")</th>
                <th>@Messages.get("form.user.role")</th>
            </tr>
            </thead>
            <tbody>
                @for(u <- users) {
                    <tr>
                        <td><a href="@routes.UserController.edit(u.id)">@u.id</a></td>
                        <td>@u.name</td>
                        <td>@u.role</td>
                    </tr>
                }
            </tbody>
        </table>

        @includes.paginate(page, pageLength, count, routes.UserController.userList(_))


    </div>

}
